@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
            
            
        </div>
    
        
        
        <div class="text-center build-version">
            Build Version @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
        </div>
    </div>
    
</div>